Package: com.matchstic.TestWidgets
Name: InfoStats 2 Test Widgets
Version: 0.2
Description: iWidgets used for testing functions of InfoStats2 on different versions of iOS. Contains weather, media, system, calendar and location widgets.
Section: System
Depends: com.matchstic.InfoStats2
Priority: extra
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Maintainer: Matt Clarke <matt@incendo.ws>
