Package: com.matchstic.InfoStats2
Name: InfoStats 2
Version: 1.0.1-1
Description: An API for JavaScript, and Objective-C
Section: System
Depends: firmware (>= 6.0), mobilesubstrate, cycript, com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0), net.mobileinnova.liblocation | firmware (<< 9.2)
Replaces: com.matchstic.infostats
Provides: com.matchstic.infostats
Conflicts: com.matchstic.infostats
Priority: extra
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Maintainer: Matt Clarke <matt@incendo.ws>
Depiction: http://incendo.ws/infostats2/depictions/com.matchstic.InfoStats2.html
Icon: file:///Library/Application Support/InfoStats2/IS2.png
