Package: com.matchstic.InfoStats2
Name: InfoStats 2
Version: 0.2-2
Description: A highly powerful framework for widgets.
Section: System
Depends: firmware (>= 5.1), mobilesubstrate, com.saurik.webcycript
Priority: extra
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Maintainer: Matt Clarke <matt@incendo.ws>
