Package: com.matchstic.InfoStats2
Name: InfoStats 2
Version: 0.4.5-1
Description: A highly powerful framework for widgets.
Section: System
Depends: firmware (>= 6.0), mobilesubstrate, com.saurik.webcycript, com.rpetrich.rocketbootstrap (>= 1.0.2) | firmware (<< 7.0)
Replaces: com.matchstic.infostats
Provides: com.matchstic.infostats
Conflicts: com.matchstic.infostats
Priority: extra
Architecture: iphoneos-arm
Author: Matt Clarke <matt@incendo.ws>
dev: Matt Clarke <matt@incendo.ws>
Maintainer: Matt Clarke <matt@incendo.ws>
Depiction: http://incendo.ws/infostats2/depictions/com.matchstic.InfoStats2.html
